@use "../base/variables.scss" as *;

.eco {
    padding: 70px 0px 90px 0px;
    background-color: $beige;

    &__info {

        width: 100%;

        h2 {
            text-align: center;
        }

        p {
            margin-top: 20px;
            text-align: center;
        }
    }
}