@use "/src/sass/base/variables.scss" as *;

.header {
    &__wrapper {
        padding: 20px 0;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;

    }

    &__links-full {
        display: none;

        a {
            text-decoration: none;
        }
    }

    &__burger {
        justify-self: start;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        span {
            background-color: $black;
            width: 40px;
            height: 2px;

            &:nth-child(2) {
                width: 30px;
            }
        }
    }

    &__menu {
        padding: 0 30px;
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        background-color: $white;
        transition: transform 1s;
        z-index: 322;

        &_active {
            transform: translateX(100%);
        }

        &-close {
            width: 40px;
            height: 40px;

            span {
                display: block;
                background-color: $black;
                width: 40px;
                height: 2px;

                &:nth-child(1) {
                    transform: translateY(35px) rotate(45deg) translateX(4px);
                }

                &:nth-child(2) {
                    transform: translateY(35px) rotate(-45deg) translateX(-1px);
                }
            }

        }

        &-nav {
            margin-top: 50px;

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                padding: 0;
                margin: 0;
                list-style-type: none;
            }
        }

        &-link {
            text-decoration: none;

        }

        &-line {
            margin-left: -30px;
            margin-top: 50px;
            display: block;
            height: 2px;
            background-color: $black;
            width: 100vw;
            opacity: 0.3;
        }

        &-form {
            border: none;
            margin: 35px 0 0 0;
            padding: 0;
        }

        &-input {
            width: 100%;
            background-color: $white;
            padding: 15px 0;
            border: none;
            outline: none;
            border-bottom: 3px solid $black;

            &::placeholder {
                color: $black;
            }
        }

        &-cart {
            margin-top: 30px;
        }

    }

    &__logo-full {
        justify-self: center;
        display: none;
        text-transform: uppercase;
        text-align: center;
    }

    &__logo-small {
        justify-self: center;
        text-transform: uppercase;
        text-align: center;
    }

    &__purchases {
        justify-self: end;
        display: flex;
        align-items: center;

        span {
            font-size: 21px;

            &:nth-child(1) {
                display: none;
                padding-right: 30px;
            }
        }

        &-text {
            display: none;
        }
    }
}