@use "../base/variables.scss" as *;

.head {
    padding-top: 70px;
    padding-bottom: 90px;
    position: relative;
    background: $beige;
    height: 62%;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 38%;

        // Узорчик
        background:
            linear-gradient(45deg, #0000 calc(25%/3), #3b3a3a 0 calc(50%/3),
                #0000 0 calc(250%/3), #3b3a3a 0 calc(275%/3),
                #0000 0),
            linear-gradient(45deg, #3b3a3a calc(25%/3), #0000 0 calc(50%/3),
                #3b3a3a 0 25%, #0000 0 75%,
                #3b3a3a 0 calc(250%/3), #0000 0 calc(275%/3),
                #3b3a3a 0),
            linear-gradient(-45deg, #0000 calc(25%/3), #3b3a3a 0 calc(50%/3),
                #0000 0 calc(250%/3), #3b3a3a 0 calc(275%/3),
                #0000 0),
            linear-gradient(-45deg, #3b3a3a calc(25%/3), #0000 0 calc(50%/3),
                #3b3a3a 0 25%, #0000 0 75%,
                #3b3a3a 0 calc(250%/3), #0000 0 calc(275%/3),
                #3b3a3a 0) #2c2c2c;

        background-size: 64px 64px;
        background-position: 0 0, 32px 32px;
        z-index: 0;
    }

    &__content {
        position: relative;
        z-index: 1;
    }

    &__info {
        p {
            margin-top: 20px;
        }

        a {
            display: block;
            margin-top: 35px;
        }
    }

    &__slider {
        position: relative;
        margin-top: 35px;
        place-items: center;
        height: 270px;


        &-wrapper {
            width: 250px;
            height: 250px;
            display: flex;
            align-items: center;
            overflow: hidden;
        }

        &-tape {
            display: flex;
            align-items: center;
            transition: all 0.3s ease-in-out;
        }

        &-slide {
            transform: rotate(10deg);
            display: grid;
            place-items: center;

            img {
                width: 180px;
                height: 174px;
            }
        }

        &-dots {
            margin-top: 25px;
            padding: 0;
            display: flex;
            column-gap: 30px;
            transform: translateY(30%);
        }

        &-dot {
            cursor: pointer;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-color: #FDFBF9;
            list-style: none;
        }
    }
}