@use "/src/sass/base/variables.scss" as *;

.head {
    padding-top: 70px;
    padding-bottom: 90px;
    position: relative;
    background: $beige;
    height: 62%;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 38%;

        // Узорчик
        background:
            linear-gradient(45deg, #0000 calc(25%/3), #3b3a3a 0 calc(50%/3),
                #0000 0 calc(250%/3), #3b3a3a 0 calc(275%/3),
                #0000 0),
            linear-gradient(45deg, #3b3a3a calc(25%/3), #0000 0 calc(50%/3),
                #3b3a3a 0 25%, #0000 0 75%,
                #3b3a3a 0 calc(250%/3), #0000 0 calc(275%/3),
                #3b3a3a 0),
            linear-gradient(-45deg, #0000 calc(25%/3), #3b3a3a 0 calc(50%/3),
                #0000 0 calc(250%/3), #3b3a3a 0 calc(275%/3),
                #0000 0),
            linear-gradient(-45deg, #3b3a3a calc(25%/3), #0000 0 calc(50%/3),
                #3b3a3a 0 25%, #0000 0 75%,
                #3b3a3a 0 calc(250%/3), #0000 0 calc(275%/3),
                #3b3a3a 0) #2c2c2c;

        background-size: 64px 64px;
        background-position: 0 0, 32px 32px;
        z-index: 0;
    }

    &__content {
        position: relative;
        z-index: 1;
    }

    &__info {
        p {
            margin-top: 20px;
        }

        a {
            display: block;
            margin-top: 35px;
        }
    }
}

.swiper {
    height: 270px;

    &-slide {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    &-img {
        width: 180px;
        height: 174px;
        transform: rotate(10deg);
    }
}

.swiper-pagination {
    position: static !important;
    display: flex;
    justify-content: center;
    column-gap: 30px;

    &-bullet {
        width: 16px !important;
        height: 16px !important;
        background-color: rgb(134, 134, 134) !important;
        opacity: 0.5 !important;

        &-active {
            background-color: $white !important;
        }
    }
}