@media screen and (min-width: 1000px) {
    .eco {
        padding: 90px 0px 120px 0px;

        &__info {
            max-width: 800px;
            margin: 0 auto;

            p {
                margin-top: 30px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .eco {
        padding: 130px 0px 150px 0px;
    }
}