@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.button-now {
    @include button;
    background-color: $black;
    color: $white;
    text-decoration: none;
    position: relative;
    z-index: 52;

    &:hover {
        background-color: $white;
        color: $black;
    }
}

.button-go {
    @include button;
    background-color: $white;
    color: $black;
    text-decoration: none;
    width: 263px;
    height: 55px;
}