@use "/src/sass/base/mixins.scss" as *;

.title-h1 {
    @include title;
    font-size: 40px;
    font-weight: 900;
}

.title-h2 {
    @include title;
    font-size: 36px;
    font-weight: 900;
}

.title-h3 {
    @include title;
    font-size: 28px;
    font-weight: 900;
}

.title-h4 {
    @include title;
    font-size: 20px;
    font-weight: 900;
}

.title-txt {
    @include title;
    font-size: 17px;
    font-weight: 400;
}

@media screen and (min-width: 480px) {
    .title-h1 {
        font-size: 48px;
    }

    .title-h2 {
        font-size: 40px;
    }
}

@media screen and (min-width: 768px) {
    .title-h1 {
        font-size: 60px;
    }

    .title-h2 {
        font-size: 48px;
    }

    .title-h3 {
        font-size: 36px;
    }

    .title-h4 {
        font-size: 24px;
    }

    .title-txt {
        font-size: 21px;
    }
}